* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div {
    background: #222222;
    padding: 20px;
}

.div h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 4px white;
}

.title {
    width: 1660px;
    font-size: 40px;
    font-weight: 700;
    margin-left: 120px;
    padding: 10px;
    color: white;
    background-color: #222222;
    border-bottom: 1px solid gray;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 50px;
}

.card {
    width: 300px;
    height: 500px;
    background: #1d1d1d;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.card img {
    width: 300px;
    height: 300px;
    border-radius: 15px 15px 0 0;
}

.card div {
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card h2,
h3,
h2 {
    font-size: 22px;
    font-weight: 700;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}
